<h1>Listing tasks</h1>

<div class="table-responsive">
<table class="table table-hover table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Due date</th>
    <th>Done</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.due_date %></td>
    <td><%= task.done %></td>
    <td class="info center"><%= link_to '参照', task %></td>
    <td class="success center"><%= link_to '編集', edit_task_path(task) %></td>
    <td class="danger center"><%= link_to '削除', task, method: :delete, data: { confirm: '削除します。よろしいですか？' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task', new_task_path %> |
<%= link_to 'Print Tasks', tasks_path(format: 'pdf') %>
