<p id="notice"><%= notice %></p>

<table class="table table-hover table-bordered table-striped">
<tr>
  <th class="text-right" style="width:150px;">Name:</th>
  <td><%= @task.name %></td>
</tr>
<tr>
  <th class="text-right" style="width:150px;">Due date:</th>
  <td><%= @task.due_date %></td>
</tr>
  <tr>
  <th class="text-right" style="width:150px;">Done:</th>
  <td><%= @task.done %></td>
</tr>
</table>



<%= link_to 'Print', task_path(@task, format: 'pdf') %> |
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
